* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.741);
  background-blend-mode: darken;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  border: unset;
  padding: 10px;
  padding-right: 50px;
  position: relative;
  cursor: pointer;

  border-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#bf6f14),
    to(#e9b400)
  );
  border-image: linear-gradient(
    to right,
    #bf6f14,
    #e9b400,
    #ffec80,
    #e9b400,
    #bf6f14
  );
  border-image-slice: 1;
  background: linear-gradient(
    90deg,
    #bf6f14 0%,
    #e9b400 25%,
    #ffec80 50%,
    #e9b400 75%,
    #bf6f14 100%
  );
  background-clip: text;
  color: transparent;
}
button > span {
  font-weight: bold;
  color: #232e33;
  font-size: 3em;
  pointer-events: none;
}
button > img {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
